<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=Title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../partials/header'); %>
    
    <main>
        <h2>Lista użytkowników</h2>
        <ul>
            <% if (users.length === 0) { %>
                 <li>Brak użytkowników</li>
        <% } else { %>
        <% users.forEach(user => { %>
            <li>
                <a href="/users/<%= user.slug %>"><%= user.username %></a>
            </li>
        <% }) %>
    <% } %>
        </ul>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>